.menu-visualization-interface-bg {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    bottom: -100vh;
    opacity: 0;
    z-index: -1;    
}

.menu-visualization-interface-full {
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    position: fixed;
    bottom: 0 !important;
    opacity: 1 !important;
}

@keyframes showMenuViz {
    0%   {height: 0; opacity: 0;}
    5%   {height: 5vh; opacity: 5;}
    10%  {height: 10vh; opacity: 10;}
    15%  {height: 15vh; opacity: 15;}
    20%  {height: 20vh; opacity: 20;}
    25%  {height: 25vh; opacity: 25;}

    30%  {height: 30vh; opacity: 30;}
    35%  {height: 35vh; opacity: 35;}
    40%  {height: 40vh; opacity: 40;}
    45%  {height: 45vh; opacity: 45;}
    50%  {height: 50vh; opacity: 50;}

    55%  {height: 55vh; opacity: 55;}
    60%  {height: 60vh; opacity: 60;}
    65%  {height: 65vh; opacity: 65;}
    70%  {height: 70vh; opacity: 70;}
    75%  {height: 75vh; opacity: 75;}

    80%  {height: 80vh; opacity: 80;}
    85%  {height: 85vh; opacity: 85;}
    90%  {height: 90vh; opacity: 90;}
    95%  {height: 95vh; opacity: 95;}
    100% {height: 100vh; opacity: 100;}
}

.menu-visualization-interface-bg-show {
    display: block;
    width: 100%;
    height: 0;
    background-color: black;
    z-index: 3 !important;;
    position: fixed;
    bottom: 0 !important;
    opacity: 0;

    animation-name: showMenuViz;
    animation-duration: 0.23s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards; /*keeps the last anim value*/
}

.menu-viz-row-container {
    display: flex;
    width: 100%;
    height: 25vh;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: dotted;
    border-color: white;
    border-width: 1px;
    border-spacing: 13px;
}

#menu-viz-rotated-boxes-container {
    position: relative;
    bottom: 0;
    z-index: 3;
}

#menu-viz-horizontal-labels-container {
    display: flex;
    position: absolute;
    gap: 500px;
    bottom: 20vh;
    z-index: 4;
    background-color: rgba(100, 100, 100, 0.0);
    transform: translateX(0);
    transform-origin: center;
}

.menu-viz-horizontal-row-container {
    color: red;  
    width: 200px;
}

.selection-indicator {
    position: fixed;
    left: 0;
}