* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  background-color: black;  
}

.carousel {
  height: 100vh;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  height: 100vh;
}

.carousel-cell img {
  display: block;
  height: 100%;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}
